.trending {
  background-color: black;
  color: white;
  font-size: 20px;
}
.trending-shows {
  display: inline-block;
  padding: 10px;
}

.thumbnail {
  display: inline-block !important;
  width: 200px;
  cursor: pointer;
}

.hover {
  width: 300px;
}
